<div class="bigbox">
<!-- <div class="dp">
<img src="https://raw.githubusercontent.com/Sujata74/logo/12389eb4f1c459ff952230ff10981e97edd31a76/reshot-icon-gazelle-6VPBHZEDFA.svg" alt="">

</div> -->

<div class="menu">
<img src="https://raw.githubusercontent.com/Sujata74/logo/12389eb4f1c459ff952230ff10981e97edd31a76/chat-round-svgrepo-com.svg" alt="">
<br>
<img src="https://raw.githubusercontent.com/Sujata74/logo/12389eb4f1c459ff952230ff10981e97edd31a76/people-svgrepo-com.svg" alt="">
<br>
<img src="https://raw.githubusercontent.com/Sujata74/logo/12389eb4f1c459ff952230ff10981e97edd31a76/home-1-svgrepo-com.svg" alt="">
<br>
<img src="https://raw.githubusercontent.com/Sujata74/logo/12389eb4f1c459ff952230ff10981e97edd31a76/message-svgrepo-com.svg" alt="">
<br>
<img src="https://raw.githubusercontent.com/Sujata74/logo/12389eb4f1c459ff952230ff10981e97edd31a76/archive-down-svgrepo-com.svg" alt="">
</div>



</div>