.bigbox{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 29rem;
  height: 4.5rem;
  margin-top: 2px;
  /* border-bottom: 2px solid #ccc; */
}
.dp {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 15%;
  height: 6rem;
  padding: 0.2rem;
}
.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 85%;
  height: 4rem;
}
.name {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.8rem;
}
.p-name {
  margin-left: -1rem;
  margin-top: 0.8rem;
  font-weight: bold;
  font-size: 1.1rem;
}

.recentchat {
  margin-left: -0.2rem;
  margin-bottom: 0.5rem;
  /* margin-top: 0.8rem; */
  font-size: 5px;
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  /* padding: 0 0.8rem; */
}
.message {
  font-size: 0.9rem;
  color: #667781;
}
